@font-face {

    font-family: 'SFUIDisplay';

    src: local('SFUIDisplay Medium'), local('SFUIDisplay-Medium'),

        url('./fonts/SFUIDisplay/SFUIDisplay-Medium.woff2') format('woff2');

    font-weight: 500;

    font-style: normal;

}

@font-face {

    font-family: 'SFUIDisplay';

    src: local('SFUIDisplay SemiBold'), local('SFUIDisplay-SemiBold'),

        url('./fonts/SFUIDisplay/SFUIDisplay-SemiBold.woff2') format('woff2');

    font-weight: 600;

    font-style: normal;

}@font-face {

    font-family: 'SFUIDisplay';

    src: local('SFUIDisplay Bold'), local('SFUIDisplay-Medium'),

        url('./fonts/SFUIDisplay/SFUIDisplay-Bold.woff2') format('woff2');

    font-weight: 700;

    font-style: normal;

}

.container  {
    overflow: hidden;
    font-family: SFUIDisplay;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    padding-top: 30px;
    box-sizing: border-box;
    
}

.conditions {
    margin-left: 100px;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: auto !important;
}
.cond_item{
    height: auto !important;
    min-width: 200px !important;    
    align-items: center;
    border: 1px #ECECEC solid;
    border-radius: 110px;
    padding: 10px 20px;
}
.cond_item img {
    max-width: 100%; /* Изображение не будет больше родителя */
    height: auto;
    margin-right: 10px;
}
.cond_item span{
    font-weight: 600;
    color: #18171B8C;
    font-size: 15px;

}
.product {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 40px;
}
.swiper {
    width: 500px;  
    overflow: hidden;
    position: relative !important;
    margin-right: 60px !important;
    margin-left: 80px !important;
    height: 600px;
  }

  
  .swiper-slide  {
    display: flex;
            justify-content: center; /* Центрирование по горизонтали */
            align-items: center; /* Центрирование по вертикали */
            height: 100%; /* Высота слайда равна высоте контейнера */
            overflow: hidden; /* Чтобы изображения не выходили за пределы слайда */
            transform: translateX(70px) !important;
  }
  .swiper-slide img {
    max-width: 100%; /* Чтобы изображение не выходило за пределы слайда */
            max-height: 100%; /* Растягиваем изображение по высоте слайда */
            object-fit: contain; 
}
.swiper-pagination {
    position: absolute;
    bottom: 10px !important; /* Позиция пагинации от нижнего края */
    left: 50%;
    transform: translateX(80px) !important;
    display: flex;
    gap: 10px; /* Расстояние между точками */
    z-index: 10;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    width: 101px; /* Стандартный размер точки */
    height: 101px;
    border-radius: 10px; /* Округлые края */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    opacity: 100%;
    background-size: contain;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat
  }
  
  .swiper-pagination .swiper-pagination-bullet img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition:opacity 500ms ease transform 0.3s ease, width 0.3s ease; /* Плавное изменение ширины */
    display: flex;
    object-fit: scale-down; /* Изображение будет заполнять точку */
    display: block; /* Показываем изображения по умолчанию */
  }
  .swiper-pagination-bullet-active {
    border: 1px solid #121213;
    opacity: 50%;
  }

.swiper-button-prev,
.swiper-button-next {
    background: none !important; /* Убираем фон */
    color: inherit !important; /* Убираем текст */
    border: none !important; /* Убираем рамки */
    width: auto !important; /* Убираем фиксированные размеры */
    height: auto !important; /* Убираем фиксированные размеры */
    display: flex !important; /* Flex-контейнер для выравнивания */
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important; /* Убираем отступы */
    z-index: 10 !important; /* Убедитесь, что стрелки находятся поверх слайдов */
    transform: translateY(-40px) !important;
}

/* Убираем текстовые стрелки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: none !important; /* Убираем стандартные символы */
}

/* Стили для кастомных изображений стрелок */
.swiper-button-prev img,
.swiper-button-next img {
    width: 7.28px; /* Размер изображений */
    height: 15px;
    object-fit: contain; /* Сохраняем пропорции изображений */
}
.choice_char{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.choice_char h2 {
    color: #121213;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}


.color_choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ECECEC;
    border-radius: 90px;  
    padding: 20px 40px ;
    max-width: 370px;

}
.color_choice_2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;  
}
.color_choice_2 span{
    margin-bottom: 20px !important;
    font-size: 15px;
}
.color_choice span{
    position: relative;
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #18171B8C;
}
.color_choice span::after {
    content: '';
    position: absolute;
    top: 3px;
    right: -20px; /* Расстояние от текста */
    width: 1px; /* Ширина полоски */
    height: 26px; /* Высота полоски */
    background-color:#1212131A;
}
.button_color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 10px;
    transition: padding 300ms ease-in-out;
}
.button_color.active{
    transform: scale(0.9)
}

.color_1 {
    background-color: #121213;
}
.color_2 {
    background-color: #F5E4CF;
}
.color_3 {
    background-color:#373738;
}
.color_4 {
    background-color:#F0EFEC;
}
.memory_choice{
    border: 1px solid #ECECEC;
    border-radius: 90px;  
    padding: 20px 40px ; 
}
.memory_choice span{
    position: relative;
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #18171B8C;
}
.memory_choice span::after{
    content: '';
    position: absolute;
    top: 3px;
    right: -20px; /* Расстояние от текста */
    width: 1px; /* Ширина полоски */
    height: 26px; /* Высота полоски */
    background-color:#1212131A;
    
}
.memory_choice_2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;  
    align-items:start;
}
.memory_choice_2 span{
    margin-bottom: 15px;
}

.button_memory{
    font-size: 20px;
    font-weight: 500;
    color:#18171B40 ;
    border: 0;
    border-radius: 90px;
    background-color: #FFFFFF;
}
.card_price{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}
.price_info{
    text-align: center;
}
.price_info p {
   font-size: 13px;
   color: #18171B4D;
}
.price_stop{
    padding: 15px 20px;
    border: 0;
    border-radius: 18px;
    background-image: linear-gradient( #353536,#121213 );
    text-align: center;
    margin-bottom: 20px;
    margin-right: 9px;
}

.price_stop h5 {
    font-size: 13px;
    color: #FFFFFF8C;
    font-weight: 500;
}

.price_stop span{
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 42px;
}
.price_always{
    padding: 14.5px 20px;
    border-radius: 18px;
    background-color: #FFFFFF;
    border: 1px solid #12121326 ;
    margin-bottom: 20px;
    margin-right: 9px;
   
}
.price_always h5{
    font-size: 13px;
    color: #18171B8C;
    font-weight: 500;
}
.price_always span{
    font-size: 35px;
    color: #18171B8C;
    font-weight: 500;
    line-height: 42px;
}
.button_buy{
    background-image: linear-gradient( #353536,#121213 );
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    border:0;
    border-radius:72px; ;
    padding: 33.5px 70px;
    transition: transform 300ms ease-in-out;
    margin-bottom: 20px;
    cursor: pointer;
}
.button_buy:hover{
    transform: scale(1.05);
}
.shield_gray{
    margin-right: 3px;
}
.channel {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-bottom: 26px; 
}
.quest_price{
    background-image: linear-gradient( #353536,#121213 );
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    border:0;
    border-radius:72px; ;
    padding: 22px 43px;
    text-align: center;
    margin-right: 5px;
    height: 62px;
       
}
.society{
    background-color: #FFFFFF;
    border-radius: 72px;
    padding: 18px 57px;
    border: 1px solid #ECECEC;
    align-content: center;
    margin-right: 5px;
    height: 62px;
    transition: fill 500ms ease-in-out;
}
.society img:hover{
    transform: scale(1.5);
}
.actual{
    color: #18171B40;
    font-size: 13px;
    font-weight: 500;
    text-align: start;
    transform: translateX(28px);
}
.quest_price_2{
    border-radius: 70px;
    border: 1px solid #12121326 ;
    padding: 28px 90px;
    text-align: center;
    max-width: 100%;
}
.quest_price_2 span{
    color: #18171B8C;
    font-size: 18px;
    font-weight: 500;
}
.info_actual{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info_actual{
    color: #18171B40;
    font-size: 13px;
    font-weight: 500;
    text-align: start;
}
.info_2{
    align-content: center;
}
.button_memory.active {
    background-color: #121213;
    color: #FFFFFF;
    border: 0 !important;
    
}
.memories{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.button_memory{
    transition: background 300ms ease, color 300ms;
    margin-bottom: 7px;
    width: 100px;
    margin-right: 10px;
    border: 0 !important;
}

@media (max-width:1267px) {
    .swiper{
    margin-right: 40px !important;
    margin-left: 60px !important;
    }
    .price_stop{
        padding: 10px 15px;
    }
    .price_stop span{
        font-size: 36px;
    }
    .price_stop h5{
        font-size: 11px;
    }
    .price_stop span{
        font-size: 36px;
    }
    .price_always{
        padding: 9.5px 15px;
    }
    .price_always h5{
        font-size: 11px;
    }
    .price_always span{
        font-size: 36px;
    }
    .button_buy{
        padding: 27.5px 50px
    }
    .quest_price{
        padding: 15px 35px ;
    }
    
@media(max-width: 1024px) {
    .swiper{
        overflow: hidden;
        z-index: 100;
    }
    .swiper-button-prev, .swiper-button-next{
    display: none !important;
}
.swiper-pagination .swiper-pagination-bullet img{
    transform: translateX(-70px);
}
.swiper-slide img{
    object-fit: cover;
    max-width: 600px;
}
    
}

}
@media (max-width : 992px){
   
    .container{
        margin: auto;
    }
    .swiper{
        transform: scale(1.4);
        margin-top: 80px;  
    }
    .card_container {
        max-width: 992px;
        top: 50%;
        left: 50%
    }
    .conditions{
        max-width: 792px;
        gap: 5px;
        margin-left: 100px;
    }
    .button_memory{
        height: 60px;
    }
    .product {
        flex-direction: column;
        align-items: center;
    }
    .card_price{
        width: 100%;
        justify-content: space-around;
    }
    .price_always{
        max-width: 250px !important;
    }
    .price_stop{
        max-width: 450px;
    }
    .price_always{
        margin-bottom: 13px;
    }
    .price_stop{
        margin-bottom: 13px;
    }
    .button_buy_2{
     width: 100%;
     background-image: linear-gradient( #353536,#121213 );
     color: #FFFFFF;
     font-size: 20px;
     font-weight: 500;
     border:0;
     border-radius:72px; ;
     padding: 33.5px 70px;
     transition: transform 300ms ease-in-out;
     margin-bottom: 20px;
     cursor: pointer;
     margin-left: 0;
    }
    .swiper-button-prev img , .swiper-button-next img{
    display: none;
}
.swiper-pagination .swiper-pagination-bullet {
    background: #000 !important ; /* Скрываем изображения */
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 9px; /* Ширина картинки */
    height: 9px; /* Высота картинки */
    border-radius: 60px; /* Округлые края */
    transform: translate(120px, -90px);
    color: #18171B40;
    background-color: #18171B40;
    transition: width 600ms ease; /* Плавное изменение при наведении */
    gap: 12px;
  }
  /* Увеличиваем активную точку */
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    background-color: #121213;
  }
  .choice_char{
    margin-left: 19px;
    margin-right: 19px;
}
}
@media(max-width: 500px){
    .conditions{
        margin-left: 19px;
        justify-content: start;
    }
    .swiper{
        margin-top: 10px;   
    transform: scale(0.9);
    transform: translateX(-10px);
    }
    
    .product{
        margin-top: 0;
    }
    
    .choice_char h2{
        font-size: 32px;
        
    }
    .card_price{
        justify-content: center;
    }
    .price_stop span{
        font-size: 30px;
        line-height: 1;
    }
    .price_always span{
        font-size: 30px;
        line-height: 1;
    }
    .button_buy_2{
        padding: 33.5px 0;
        width: 370px;
        margin-left: 2px;
    }
    .quest_price_2{
        padding: 33.5px 0;
        width: 370px;
        margin-left: 2px;
    }
    .channel{
        justify-content: center;
        gap: 0;
    }
   .society {
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 5px;
   }
   .info_actual{
    margin-left: 0px;
        margin-right: 19px;
   }
    
}
@media (max-width : 420px) {
    .conditions{
        max-width: 620px;
        display: grid;
        grid-template-columns: 2 !important;
        grid-template-rows: 3 !important;
        transform: translateX(70px);
    }
    
    .cond_item span{
       font-size: 13px;
       color: #121213; 
       padding-left: 0;
       padding-right: 0;
       margin-right: 0;
       margin-left: 0;
    }
    .cond_item{
        transform: translateX(-60px);
    }
}